body{
    margin: 0%;
    background-color:rgb(217,217,217);
}
header{
    text-align: center;
}
.Barra {
    margin: 0%;
    text-align: center;
    background-color: rgb(64,64,64);
}
.Barra li{
    display: inline-block;

}
.Barra a{
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block;
}
.Barra a:hover{
    background: rgb(120, 120, 120);;
}

.About{
    box-shadow: 3px 3px 3px grey;
    background-color: rgb(191, 191, 191);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

.About h3{
    margin-left: 20px;
    margin-right: 20px;
}